<header>
<p>Create the task!</p>
</header>
<app-form-field
NameInput="Assigned to:">
</app-form-field>
<app-form-field 
NameInput="Topic:">
</app-form-field>
<app-form-field
NameInput="Estimated time:">
</app-form-field>
<app-form-field
NameInput="Status:">
</app-form-field>
<div class="select-level-importance">
  Select the level of Importance:
</div>
<div class="select-level-container">
<app-select-level 
number="1"
selectLevel="select-level-base"
selectLevelIndividual="select-level-individual"
></app-select-level>
<app-select-level 
number="2"
selectLevel="select-level-base"
selectLevelIndividual="select-level-individual"
></app-select-level>
<app-select-level 
number="3"
selectLevel="select-level-base"
selectLevelIndividual="select-level-individual"
></app-select-level>
</div>