header 
{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header > p 
{
    color: #28DE77;
    font-size: 30px;
    font-weight: 500;
}
.form-field-container
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.select-level-importance
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: grey;
}
.select-level-container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.select-the-category
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    color: grey;
}
.select-the-category-button-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.save-the-task
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 600;
}