.select-category-base
{
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-left: 20px;
}
.select-button-backend
{
    background-color: #118AB2;
}
.select-button-ui-ux
{
    border: 2px solid rgb(115, 255, 0);
    background-color: white;
    color: black;
    font-weight: 700;
}
.select-button-frontend
{
    background-color: #EF476F;
}