$green: #32f9a5;
$input-grey: rgba(112, 112, 112, 0.11);

$pink: #ef476f;
$dark-blue: #073b4c;

.yourapp-outer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
  height: 100vh;
}

.yourapp-title {
  font-size: 2.5em;
  text-align: center;
  color: $green;
  height: 20vh;
  align-items: center;
  display: flex;
}

.yourapp-outer ul {
  list-style: none;
  width: 30%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 80vh;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: rgb(102, 102, 102);
}
.othertasks-outer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
  height: 100vh;
  background-color: $dark-blue;
}

.othertasks-title {
  font-size: 2.5em;
  text-align: center;
  color: $pink;
  height: 20vh;
  align-items: center;
  display: flex;
}

.othertasks-outer ul {
  list-style: none;
  width: 30%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 80vh;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: rgb(102, 102, 102);
}

app-negotium-list-app {
  margin-bottom: 1em;
  cursor: pointer;
  transition: 0.2s transform ease-in-out;
  flex-grow: 1;
}

app-negotium-list-app:hover {
  transform: scale(1.1);
}

@media only screen and (max-height: 700px) {
  .yourapp-title {
    font-size: 2.1em;
  }
  .othertasks-title {
    font-size: 2.1em;
  }
  .check-status {
    width: 1.8em;
    height: 1.8em;
  }
  app-negotium-list-app {
    margin-bottom: 0.5em;
  }
}

@media only screen and (max-width: 600px) {
  .yourapp-title {
    font-size: 2.1em;
  }
  .yourapp-outer ul {
    width: 90%;
  }
  .othertasks-title {
    font-size: 2.1em;
  }
  .othertasks-outer ul {
    width: 90%;
  }
}
