<div class="negotium-task-outer">
  <span class="negotium-task-title">Your Negotium App</span>
  <ul>
    <app-negotium-list-app [check]="true"
      >Your Negotium App</app-negotium-list-app
    >
    <app-negotium-list-app [check]="false"
      >Your Negotium App</app-negotium-list-app
    >
    <app-negotium-list-app [check]="false"
      >Your Negotium App</app-negotium-list-app
    >
    <app-negotium-list-app [check]="true"
      >Your Negotium App</app-negotium-list-app
    >
    <app-negotium-list-app [check]="false"
      >Your Negotium App</app-negotium-list-app
    >
    <app-negotium-list-app [check]="false"
      >Your Negotium App</app-negotium-list-app
    >
  </ul>
</div>
