.select-level-base{
    width: 40px;
    height: 40px;
    color: white;
    margin-left: 20px;
    margin-top: 15px;
}
.select-level-base > p 
{
    padding-left: 39%;
    padding-top: 8px;
}
.select-level-individual
{
    background-color: rgb(0, 255, 85);
}
.select-level-individual-1
{
    background-color: rgb(240, 216, 0);
}
.select-level-individual-2
{
    background-color: #F2273B;
}
.select-level-individual-2-custom
{
    width: 40px;
    height: 40px;
    color: white;
    margin-left: 20px;
    margin-top: 15px;
    background-color: #F2273B;
}
.select-level-individual-2-custom > p
{
    margin-left: 28%;
    padding-top: 9px;
}