.check-status {
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 2em;
  height: 2em;
  display: flex;
  margin-left: 0.5em;
  align-items: center;
  justify-content: center;
}

.negotium-item {
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
}

.negotium-item:after {
  content: '>';
  margin-right: 0.5em;
}
