<div class="task-description">
  <h2 class="task-topic">Topic: bla bla bla bla</h2>
  <p class="task-body">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
    commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
    rerum ut repellat. Tempora similique consequatur fugit id exercitationem
    ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
    commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
    rerum ut repellat. Tempora similique consequatur fugit id exercitationem
    ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
    commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
    rerum ut repellat. Tempora similique consequatur fugit id exercitationem
    ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
    commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
    rerum ut repellat. Tempora similique consequatur fugit id exercitationem
    ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
    commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
    rerum ut repellat. Tempora similique consequatur fugit id exercitationem
    ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
    commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
    rerum ut repellat. Tempora similique consequatur fugit id exercitationem
    ad.
  </p>
</div>
