$green: #32f9a5;
$grey: #9eb3b9;

$pink: #ef476f;
$dark-blue: #073b4c;
body {
  margin: 0;
  padding: 0;
}

.negotium-background {
  background-color: white;
  height: 100%;
}
.other-background {
  background-color: $dark-blue;
  min-height: 100vh;
  padding-bottom: 5em;
  position: relative;
}

.header {
  background-color: white;
  border: 1px $grey solid;
  margin: 0px 0px 40px 0px;
  .title {
    font-size: 2.5em;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 0.5em;
    font-family: 'Segoe UI', sans-serif;
  }
  .other-title {
    color: $pink;
  }
  .negotium-title {
    color: $green;
  }
}

button {
  width: 80%;
}

.task {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .description-wrap {
    background-color: white;
    width: 50%;
    margin-left: 40px;
    margin-right: 40px;
  }

  .details-wrap {
    background-color: white;
    width: 25%;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.footer {
  color: $grey;
  margin: 0px 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 20px 7px 0;
  border-color: transparent $grey transparent transparent;
  margin-right: 2px;
}

@media screen and (max-width: 768px) {
  .task {
    .description-wrap {
      width: 100%;
      margin-top: 40px;
    }
    .details-wrap {
      width: 100%;
    }
  }
}
