<div [ngClass]="task.returnBackground()">
  <div class="header">
    <h1 *ngIf="task.isNegotium; else otherHeader" class="title negotium-title">
      Your Negotium App
    </h1>
    <ng-template #otherHeader
      ><h1 class="title other-title">Other tasks</h1></ng-template
    >
  </div>

  <div class="task">
    <div class="details-wrap">
      <app-task-details [task]="task"></app-task-details>
    </div>
    <div class="description-wrap">
      <app-task-description></app-task-description>
    </div>
  </div>
  <footer class="footer">
    <div class="arrow-left"></div>
    <a routerLink="/">]>Back to tasks</a>
  </footer>
</div>
