<div class="header">
  <h1 class="title">Your Negotium App</h1>
</div>

<div class="task">
  <div class="task-details">
    <div class="tasks-paragraphs">
      <p>Status:</p>
      <p>Estimated time:</p>
      <p>Assigned to:</p>
      <p>Importance level:</p>
      <p>Category:</p>
    </div>
    <div class="control-buttons">
      <button class="edit-tasks-button">Edit task</button>
      <button class="change-status-button">Change Status</button>
    </div>
  </div>
  <div class="task-description">
    <h2 class="task-topic">Topic: bla bla bla bla</h2>
    <p class="task-body">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
      commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
      rerum ut repellat. Tempora similique consequatur fugit id exercitationem
      ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
      commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
      rerum ut repellat. Tempora similique consequatur fugit id exercitationem
      ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
      commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
      rerum ut repellat. Tempora similique consequatur fugit id exercitationem
      ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
      commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
      rerum ut repellat. Tempora similique consequatur fugit id exercitationem
      ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
      commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
      rerum ut repellat. Tempora similique consequatur fugit id exercitationem
      ad. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
      commodi atque modi et! Expedita, nihil natus sequi velit harum excepturi
      rerum ut repellat. Tempora similique consequatur fugit id exercitationem
      ad.
    </p>
  </div>
</div>

<footer class="footer">
  <div class="arrow-left"></div>
  Back to tasks
</footer>
