/* You can add global styles to this file, and also import other style files */

$green: #32f9a5;
$yellow: #ffd166;
$pink: #ef476f;
$blue: #118ab2;
$input-grey: rgba(112, 112, 112, 0.11);

@font-face {
  font-family: 'Segoe UI';
  src: url(assets/font/SEGOEUI.TTF) format('opentype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

button {
  border: 2px solid transparent;
  border-radius: 50px;
  padding: 0.6rem 3rem;
  color: #fff;
  font-size: 1.1rem;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.1s ease-in-out;
  transition-property: opacity, transform;
  margin: 10px;
}

button:hover {
  transform: scale(0.95);
  opacity: 0.95;
}
