$green: #32f9a5;
$yellow: #ffd166;
$pink: #ef476f;
$blue: #118ab2;
$input-grey: #a8a8a8;
$min_width: 320px;
$max_width: 1200px;
$min_font: 18px;
$max_font: 20px;

%border {
  border: 1px $input-grey solid;
}

%font {
  font-family: 'Segoe UI', sans-serif;
}
