@import '../negotium-task-details.component';

.task-details {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px $input-grey solid;
  width: 100%;
  padding: 2em;
  .tasks-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.control-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-tasks-button {
  background-color: #ffd166;
}

.change-status-button {
  background-color: #32f9a5;
}

// @media screen and (max-width: 790px) {
//   .task-details {
//     width: 90%;
//   }
//   .task-description {
//     width: 80%;
//   }
// }
