@import '../negotium-task-details.component';

.task-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px $grey solid;
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
  padding-top: 2em;
  margin-bottom: 40px;

  .tasks-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.control-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button-yellow {
    background-color: #ffd166;
  }

  .button-green {
    background-color: #32f9a5;
  }
  .button-pink {
    background-color: $pink;
  }
}

@media screen and (max-width: 790px) {
  .task-details {
    width: 100%;
  }
  .task-description {
    width: 100%;
  }
}
