<header>
  <!-- prettier-ignore-attribute [src] -->
  <img src="assets/images/logo.png" alt="logo" />
  <span class="header-logo">Developers Tasks</span>
</header>
<div class="main-outer">
  <app-main-button
    class="main-sides-top"
    title="Your Negotium App"
    titleColor="darkBlue"
    buttonClass="btn-yellow"
  ></app-main-button>
  <app-main-button
    class="main-sides-top"
    title="Other Tasks"
    titleColor="red"
    buttonClass="btn-transparent"
  ></app-main-button>
  <div class="main-sides-bottom">
    <div class="main-sides-bottom-left">
      <div>
        Or Create
        <button class="btn-create">Create</button>
      </div>
    </div>
    <div class="main-sides-bottom-right">
      <div>
        The Task
      </div>
    </div>
  </div>
</div>
