<header>
  <img src="" />
  <span class="headerLogo">Developers Tasks</span>
</header>
<div class="mainOuter">
  <app-main-buttons
    class="mainSidesTop"
    title="Your Negotium App"
    titleColor="darkBlue"
    buttonClass="btnYellow"
  ></app-main-buttons>
  <app-main-buttons
    class="mainSidesTop"
    title="Other Tasks"
    titleColor="red"
    buttonClass="btnTransparent"
  ></app-main-buttons>
  <div class="mainSidesBottom">
    <div class="mainSidesBottomLeft">
      <div>
        Or Create
        <button class="btn-create">Create</button>
      </div>
    </div>
    <div class="mainSidesBottomRight">
      <div>
        The Task
      </div>
    </div>
  </div>
</div>
