<form [formGroup]="form">
  <div *ngFor="let controlName of fcNameArray">
    <label class="input-label">{{ parseString(controlName) }}</label>
    <input
      [formControlName]="controlName"
      [(ngModel)]="details[controlName]"
      (change)="emitTaskDetails()"
    />
    <div
      class="errors"
      *ngIf="form.controls[controlName].errors && startValidation"
    >
      <div *ngIf="form.controls[controlName].errors.required">
        This input is required
      </div>
      <div *ngIf="form.controls[controlName].errors.nameNotExist">
        This name doesn't exist
      </div>
    </div>
  </div>
</form>
